---
import Layout from '@layouts/Layout.astro'
import OverView from '@components/OverView.astro'
import MovementsList from '@components/MovementsList.astro'
import '@styles/global.css'
---

<Layout>
  <!-- main dashboard -->
  <OverView />
  <div class="flex items-center justify-between px-1">
    <h2 class="p-2 font-semibold text-sky-600">Recent activity</h2>
    <a href="/movements">View all</a>
  </div>
  <MovementsList limit={3} />
</Layout>
