---
const store = global.localStorage?.getItem('saldocero.movements') || '{}'
const movements = store ? JSON.parse(store) : []
import { AccountCard } from './AccountData'
---

<div class="flex bg-gray-800 rounded-lg">
  <AccountCard client:load />
</div>
