---
const toggles = [
  {
    code: 'language',
    onclick: () => {
      console.log('Selecting language')
    },
    label: 'Toggle Language',
    icon: 'language',
    active: false
  },
  {
    code: 'currency',
    onclick: () => {
      console.log('Selecting currency')
    },
    label: 'Toggle Currency',
    icon: 'currency',
    active: false
  },
  {
    code: 'theme',
    onclick: () => {
      console.log('Toggling theme')
    },
    label: 'Toggle Theme',
    icon: 'theme',
    active: false
  }
]
---

<div class="flex justify-between items-center text-sm">
  {
    Astro.url.pathname === '/' ? (
      <h1 class="text-xl font-bold">Saldo Cero</h1>
    ) : (
      <h3>Go back</h3>
    )
  }
  <div class="flex items-center gap-4">
    {
      toggles.map((toggle) => (
        <button
          class="bg-gray-800 text-gray-400 hover:text-white px-2 py-1 rounded-md text-xs font-thin cursor-pointer"
          aria-label={toggle.label}
          aria-code={toggle.code}
        >
          {toggle.code}
        </button>
      ))
    }
  </div>
</div>
